@model IEnumerable<Hasici.Web.Article>



<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">Nový</a>
</p>

<!--Headlines for displayed data  -->
<table class="table-wrapper">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publised)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <!-- Displayed data -->
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Raw(item.Preview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Publised)              
                
            </td>

            <!-- Actions for the each article-->
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Upraviť</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Zobraziť</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Vymazať</a>
            </td>
        </tr>
        }
    </tbody>
</table>